body {
    background-color: #EaF6F6;
    font-family: "Monaco", "Courier New", monospace;
}

h1 {
    color: #0b91f1
}

h3 {
    color: #590bea
}

hr {
    border-style: dotted none none;
    width: 100%;
    border-color: grey;
    border-width: 5px;
}

title {
    font-family: "Monaco", "Courier New", monospace;
}

table, th, td {
    border: 1px solid #590bea;
  }

table.noborder, th.noborder, td.noborder {
    border: none
}